<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="C:\Project\bin\openocd.exe"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="--file C:\Project\scripts\interface\ftdi\olimex-arm-usb-tiny-h.cfg --file C:\Project\scripts\target\rpi3.cfg"/>
</launchConfiguration>
